/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.main-container {
	margin: 50px;
}

/* Nav and Logo */

 .links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;

 }

 /* CTA and IMG */

 #CTA {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 margin: 50px;
	 align-items: center; 
 }

 h1 {
	 font-size: 80px;
	 text-align: center;
 }

 .header {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
 }

 button {
	 border: 1px solid black;
	 padding: 10px 50px 10px 50px;
	 background-color: white;
 }

 /* Features and About */

 #fa {
	 display: flex;
	 flex-direction: row;
	 margin: 35px 0;
	 justify-content: space-around;
 }

 /* Big IMG */

 #bm {
	 width: 100%;
	 display: flex;
	 justify-content: space-around;
 }

 /* Services, Product, Vision */

 #SPV {
	display: flex;
	flex-direction: row;
	margin: 35px 0;
	justify-content: space-between;
 }

 /* Bottom Section */
 
 footer {
	 text-align: center;
 }

 address h3 {
	 margin-top: 30px;
 }

 @media(max-width: 800px) {
	 .CTAimg {
		 display: none;
	 }
	 
	 .links .logo {
		display: none;
	 }
 }
